data/external/raa/raw/publicerade_lamningar_centrumpunkt_schema.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:arkreg_v1.0="arkreg_v1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="arkreg_v1.0">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://karta.raa.se/geo/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="publicerade_lamningar_centrumpunktType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="lamning_id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lamningsnummer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lamningstyp_id" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lamningstyp_namn" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="antikvariskbedomningtyp_id" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="antikvariskbedomningtyp_namn" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aktualitetstatustyp_id" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="skadestatustyp_id" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="undersokningsstatustyp_id" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lamningsstatus" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centrumpunkt" nillable="true" type="gml:PointPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="publicerade_lamningar_centrumpunkt" substitutionGroup="gml:AbstractFeature" type="arkreg_v1.0:publicerade_lamningar_centrumpunktType"/>
</xsd:schema>
